$p-font-sizes: (
  null  : 16px,
  small : 16px,
  medium: 16px,
  large : 16px
);

$h1-font-sizes: (
  null  : 32px,
  small : 32px,
  medium: 40px,
  large : 48px
);

$h2-font-sizes: (
  null  : 26px,
  small : 26px,
  medium: 32px,
  large : 36px
);

$h3-font-sizes: (
  null  : 22px,
  small : 22px,
  medium: 24px,
  large : 28px
);

$h4-font-sizes: (
  null  : 18px,
  small : 18px,
  medium: 18px,
  large : 18px
);

$h5-font-sizes: (
  null  : 16px,
  small : 16px,
  medium: 16px,
  large : 16px
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}