.callout {
   background-color: $primary-color;
   padding: $global-padding;
   color: white;
   font-family: $body-font-family;

   @include breakpoint( medium ) {
      background-color: pink;
   }
}
